.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.first {
  position: relative;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.12);
  background: #fff;
  min-height: 64px;
  z-index: 1020; 
}

.second {
  float: right;
  margin-right: 250px;
  font-family: Roboto,"Helvetica";
  vertical-align: middle;
  margin-top: 8px;
}

.second li a {
  font-size: 16px;
  padding-right: 30px;
}